<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Color Detection</title>
</head>
<body>
    <!-- <div class="navbar">
        <h1>Deteksi Warna || Iska Aksara Dashboard</h1>
    </div> -->
    <div class="container">
        <img class="image" src="{{ url_for('video_feed') }}" />
    </div>
    <div class="tabel_container">
        <div class="tabel">
            <div class="openT" />
            <div class="tabel_content">
                <div class="tabel_icons">
                    <div class="tabel_box1">
                        <img src="/static/css/Group 1531.png" />
                    </div>
                    <div class="tabel_box2">
                        <img src="/static/css/Group 1535png.png" />
                    </div>
                    <div class="tabel_box3">
                        <img src="/static/css/Group 1534.png" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
